/* Estilo específico para a página Forms */
body.criar-campeonato-page {
    background-color: #e3f2fd; /* Cor de fundo azul clara */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Container do formulário */
  form {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Campos de entrada */
  input[type="text"],
  input[type="integer"],
  input[type="String"]
  {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .criar_campeonato-page .button-grid {
    display: flex; /* Alinha lado a lado */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 10px; /* Espaçamento entre botões */
    position: fixed; /* Fixa no topo */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f8ff; /* Mesma cor de fundo da página */
    padding: 10px;
    z-index: 1000; /* Garante que fique acima de outros elementos */
  }
  
  /* Botões pequenos e retangulares */
  .criar_campeonato-page .button-grid button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #64b5f6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .criar_campeonato-page .button-grid button:hover {
    background-color: #42a5f5;
  }
  
  .criar_campeonato-page .botao-destaque {
    background-color: #28a745 !important;  /* Verde, por exemplo */
    color: white;
  }
  
  .criar_campeonato-page .botao-destaque:hover {
    background-color: #218838 !important; /* Tom mais escuro ao passar o mouse */
  }

  /* Botões */
  button {
    padding: 10px 20px;
    background-color: #64b5f6; /* Azul claro */
    color: #ffffff; /* Branco para contraste */
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #42a5f5; /* Azul mais escuro ao passar o mouse */
  }
  
  /* Parágrafos */
  p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #333333;
  }